<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>To-do List with Vue.js</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.3/vue.js">
	</script>
	<script src="js/todo.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
	<link rel="stylesheet" href="css/styles.css">
	<!--
	=========================================
	Based off a tutorial by Ayo Isaiah
	https://ayoisaiah.com/vuejs-todolist-app/
	=========================================
	-->
</head>
<body>
	<div class="container" id="todo">
		<section class="panel">
			<input type="checkbox" id="mark-all" v-bind:checked="areAllSelected" v-on:click="selectAll">
			<input type="text" placeholder="What do you need to do?" autofocus class="text-input" v-model="newTask" v-on:keyup.enter="addTask">
			<button v-on:click="clearList">Clear List</button>
		</section>
		<ul class="list">
			<li v-for="task in taskList" v-bind:class="{done: task.checked}">
				<input type="checkbox" class="checkbox" v-model="task.checked">
				<label for="checkbox">{{ task.text }}</label>
				<button class="delete" v-on:click="removeTask(task)">X</button>
			</li>
		</ul>
		<div id="test">
			<pre>{{ newTask }}<br>{{ taskList }}
			</pre>
		</div>
	</div>
</body>
</html>